{% extends "base.html" %}
{% load i18n %}

{% block top_class %}
    <div class="container-fluid top fill">
{% endblock top_class %}

{% block content %}
    <div class="row-centered">
        <div class="col-md-5 col-centered">
            <div class="row row-centered">
                <div class="col-md-12 col-centered">
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 col-centered">
                    <p class="form_title bold">Подтвердите новый пароль</p>
                    <form id="vibe_form" class="form" method="POST" action=".">
                        {% csrf_token %}
                        <div class="form-group">
{#                            <label>Password: </label>#}
                            <input type="password" placeholder="Новый пароль" class="form-control field" name="password1" id="new_password1" />
                        </div>
                        <div class="form-group">
{#                            <label>Password: </label>#}
                            <input type="password" placeholder="Подтвердите новый пароль" class="form-control field" name="password2" id="new_password2" />
                        </div>
                        <div class="form-group form_button_block col-centered">
                            <button type="submit" class="bold" >Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
