.hidden_links {
    color: red; !important;
}
.scroll_header td{
    display: inline-block;
}
.scroll_block td {
    display: inline-block;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}
.icon {
    font-size: 15px;
}
.icon:hover {
    cursor: pointer;
}
.remove_icon {
    color: red;
}
.link_text_editor {
    border: 1px solid #ddd;
}