{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Конструктор скриптов продаж</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/react-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/draft.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body
        {% if request.user.is_authenticated %}
            data-user-id="{{ request.user.id }}"
        {% endif %}

        data-init-url="{% url 'init' %}"
        data-scripts-url="{% url 'scripts' %}"
        data-clone-script-url="{% url 'clone_script' %}"
        data-delegate-script-url="{% url 'delegate_script' %}"
        data-accesses-url="{% url 'accesses' %}"
        data-projects-url="{% url 'projects' %}"
        data-tables-url="{% url 'tables' %}"
        data-colls-url="{% url 'colls' %}"
        data-link-categories-url="{% url 'link_categories' %}"
        data-links-url="{% url 'links' %}"
        data-logout-url="{% url 'auth_logout' %}"
        data-main-url="{% url 'main' %}"
        data-profile-url="{% url 'profile' %}"
        data-payment-url="{% url 'payment' %}"
        data-team-url="{% url 'team' %}"
        data-password-change-url="{% url 'auth_password_change' %}"
        data-static-url="{{ STATIC_URL }}"
    >
        {% block content %}
            {% if request.user.is_authenticated %}
                <div id="content"></div>
            {% else %}
                <div class="container-fluid">
                    <h1>Необходимо авторизоваться</h1>
                    <p><a href="{% url 'auth_login' %}">Вход</a></p>
                    <p><a href="{% url 'registration_register' %}">Регистрация</a></p>
                </div>
            {% endif %}
        {% endblock content %}

        {% if request.user.is_authenticated %}
            <script>
                console.error = (function(_error) {
                  return function(message) {
                    if (typeof message !== 'string' || message.indexOf('component is `contentEditable`') === -1) {
                      _error.apply(console, arguments);
                    }
                  };
                })(console.error);
            </script>
            {% if DEBUG %}
                <script src="{% static 'js/bundle.js' %}"></script>
            {% else %}
                <script src="{% static 'js/bundle.min.js' %}"></script>
            {% endif %}
        {% endif %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter41580254 = new Ya.Metrika({
                            id:41580254,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/41580254" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77659764-3', 'auto');
            ga('send', 'pageview');
        </script>

        <script data-skip-moving="true">
            (function(w,d,u,b){
            s=d.createElement('script');r=(Date.now()/1000|0);s.async=1;s.src=u+'?'+r;
            h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://cdn.bitrix24.ru/b3249587/crm/site_button/loader_4_svs3na.js');
        </script>
    </body>
</html>
