{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
        <link rel="stylesheet" href="{% static 'css/draft.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body
        {% if request.user.is_authenticated %}
            data-user-id="{{ request.user.id }}"
        {% endif %}

        data-init-url="{% url 'init' %}"
        data-scripts-url="{% url 'scripts' %}"
        data-projects-url="{% url 'projects' %}"
        data-tables-url="{% url 'tables' %}"
        data-colls-url="{% url 'colls' %}"
        data-link-categories-url="{% url 'link_categories' %}"
        data-links-url="{% url 'links' %}"
    >
        {% block content %}
            {% if request.user.is_authenticated %}
                <div id="content"></div>
            {% else %}
                <div class="container-fluid">
                    <h1>Необходимо авторизоваться</h1>
                    <p><a href="{% url 'auth_login' %}">Вход</a></p>
                    <p><a href="{% url 'registration_register' %}">Регистрация</a></p>
                </div>
            {% endif %}
        {% endblock content %}

        {% if request.user.is_authenticated %}
            <script>
                console.error = (function(_error) {
                  return function(message) {
                    if (typeof message !== 'string' || message.indexOf('component is `contentEditable`') === -1) {
                      _error.apply(console, arguments);
                    }
                  };
                })(console.error);
            </script>
            {% if DEBUG %}
                <script src="{% static 'js/bundle.js' %}"></script>
            {% else %}
                <script src="{% static 'js/bundle.min.js' %}"></script>
            {% endif %}
        {% endif %}
    </body>
</html>
